html{
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #530ad1c4;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
  }

  a {
    color: var(--claro);
    text-decoration: none;
}

a:hover{
    color: var(--primaria);
    
}

body{
    background-image: linear-gradient(to bottom, #0a0f1c,  #17023ae7 );
    color: var(--claro);
    margin: 0;
    padding: 0 ;}


.conteudo-principal{
    display: flex;
}
    
.conteudo-central{
    padding-left: 210px;
    background: #0b101d4f;
   
    flex: 3;
    min-width: 300px;
        
}


.fact-sheet {
    background-color: #0202028a;
    padding: 20px;
    border: 1px solid #fffc37;
    width: 300px;
    float: right; 
    margin-left: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    top: 0;
}


.titulo-da-identidade{
    text-align: center;
}

.fact-image {
    text-align: center;
    margin-bottom: 15px;
}

.fact-photo {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 5px;
}

.fact-sheet h3 {
    margin-top: 0;
    font-size: 20px;
}

.fact-sheet ul {
    list-style: disc;
    padding-left: 20px;
}

.fact-sheet li {
    margin-bottom: 8px;
    font-size: 14px;
}

.barra-lateral{
    flex: 1;
    padding: 20px;
    position: fixed;
    background: rgba(5, 5, 5, 0.39);
    border: 1px solid #fffc37;
    z-index: 100;
    top: 0;
}


item-capitulo-resumo{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.item-capitulo-conteudo{
    padding: 10px;
}


.personagens-section{
    padding: 6rem 2rem;
}

.titulo-summary {
  font-size: 1.5em; /* Tamanho equivalente ao h2 */
  font-weight: bold;
  margin: 10px 0;
}

table.Tabela-arma {
  width: 100%;
  border-collapse: collapse;
  background-color: #10104141;
}

.Tabela-arma th,
.Tabela-arma td {
  border: 1px solid #4745451e;
  padding: 10px;
  vertical-align: top;
}

.Tabela-arma th {
  background-color: #200d365e;
  text-align: left;
}

.arma-img {
    width: 80px;
    height: auto;
    border-radius: 5px;
object-fit: cover;
}